<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="display-none visually-hidden">

	<symbol id="facebook" viewbox="0 0 320 512">
		<path fill="currentColor" d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z"/>
	</symbol>
	<symbol id="linkedin" viewbox="0 0 448 512">
		<path fill="currentColor" d="M100.28 448H7.4V148.9h92.88zM53.79 108.1C24.09 108.1 0 83.5 0 53.8a53.79 53.79 0 0 1 107.58 0c0 29.7-24.1 54.3-53.79 54.3zM447.9 448h-92.68V302.4c0-34.7-.7-79.2-48.29-79.2-48.29 0-55.69 37.7-55.69 76.7V448h-92.78V148.9h89.08v40.8h1.3c12.4-23.5 42.69-48.3 87.88-48.3 94 0 111.28 61.9 111.28 142.3V448z"/>
	</symbol>
	<symbol id="instagram" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">

		<g id="SVGRepo_bgCarrier" stroke-width="0"/>

		<g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>

		<g id="SVGRepo_iconCarrier">
			<path fill-rule="evenodd" clip-rule="evenodd" d="M12 18C15.3137 18 18 15.3137 18 12C18 8.68629 15.3137 6 12 6C8.68629 6 6 8.68629 6 12C6 15.3137 8.68629 18 12 18ZM12 16C14.2091 16 16 14.2091 16 12C16 9.79086 14.2091 8 12 8C9.79086 8 8 9.79086 8 12C8 14.2091 9.79086 16 12 16Z" fill="#0F0F0F"/>
			<path d="M18 5C17.4477 5 17 5.44772 17 6C17 6.55228 17.4477 7 18 7C18.5523 7 19 6.55228 19 6C19 5.44772 18.5523 5 18 5Z" fill="#0F0F0F"/>
			<path fill-rule="evenodd" clip-rule="evenodd" d="M1.65396 4.27606C1 5.55953 1 7.23969 1 10.6V13.4C1 16.7603 1 18.4405 1.65396 19.7239C2.2292 20.8529 3.14708 21.7708 4.27606 22.346C5.55953 23 7.23969 23 10.6 23H13.4C16.7603 23 18.4405 23 19.7239 22.346C20.8529 21.7708 21.7708 20.8529 22.346 19.7239C23 18.4405 23 16.7603 23 13.4V10.6C23 7.23969 23 5.55953 22.346 4.27606C21.7708 3.14708 20.8529 2.2292 19.7239 1.65396C18.4405 1 16.7603 1 13.4 1H10.6C7.23969 1 5.55953 1 4.27606 1.65396C3.14708 2.2292 2.2292 3.14708 1.65396 4.27606ZM13.4 3H10.6C8.88684 3 7.72225 3.00156 6.82208 3.0751C5.94524 3.14674 5.49684 3.27659 5.18404 3.43597C4.43139 3.81947 3.81947 4.43139 3.43597 5.18404C3.27659 5.49684 3.14674 5.94524 3.0751 6.82208C3.00156 7.72225 3 8.88684 3 10.6V13.4C3 15.1132 3.00156 16.2777 3.0751 17.1779C3.14674 18.0548 3.27659 18.5032 3.43597 18.816C3.81947 19.5686 4.43139 20.1805 5.18404 20.564C5.49684 20.7234 5.94524 20.8533 6.82208 20.9249C7.72225 20.9984 8.88684 21 10.6 21H13.4C15.1132 21 16.2777 20.9984 17.1779 20.9249C18.0548 20.8533 18.5032 20.7234 18.816 20.564C19.5686 20.1805 20.1805 19.5686 20.564 18.816C20.7234 18.5032 20.8533 18.0548 20.9249 17.1779C20.9984 16.2777 21 15.1132 21 13.4V10.6C21 8.88684 20.9984 7.72225 20.9249 6.82208C20.8533 5.94524 20.7234 5.49684 20.564 5.18404C20.1805 4.43139 19.5686 3.81947 18.816 3.43597C18.5032 3.27659 18.0548 3.14674 17.1779 3.0751C16.2777 3.00156 15.1132 3 13.4 3Z" fill="#0F0F0F"/>
		</g>

	</symbol>

	<symbol id="right-arrow" viewbox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">

		<title>arrow_up [#351]</title>
		<desc>Created with Sketch.</desc>
		<defs></defs>
		<g id="arrow" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
			<g id="Dribbble-Light-Preview" transform="translate(-100.000000, -6639.000000)" fill="#000000">
				<g id="icons" transform="translate(56.000000, 160.000000)">
					<path fill="currentColor" d="M44,6489 L45.393,6490.435 L53,6482.828 L53,6499 L55,6499 L55,6482.828 L62.586,6490.414 L64,6489 C60.339,6485.339 57.504,6482.504 54,6479 C50.034,6482.966 52.834,6480.166 44,6489" id="arrow_up-[#351]"></path>
				</g>
			</g>
		</g>
	</symbol>
	<symbol id="pen" viewbox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">

		<title>pen [#1319]</title>
		<desc>Created with Sketch.</desc>
		<defs></defs>
		<g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
			<g id="Dribbble-Light-Preview" transform="translate(-180.000000, -2319.000000)" fill="#currentColor">
				<g id="icons" transform="translate(56.000000, 160.000000)">
					<path fill="currentColor" d="M138.229706,2163.463 L139.648153,2161.977 L141.070621,2163.466 L139.651169,2164.952 L138.229706,2163.463 Z M127.920583,2177.236 L126.498115,2175.747 L136.808243,2164.952 L138.229706,2166.44 L127.920583,2177.236 Z M139.821061,2159 L124,2175.747 L124,2179 L127.920583,2179 L144,2162.859 L139.821061,2159 Z" id="pen-[#1319]"></path>
				</g>
			</g>
		</g>
	</symbol>
	<symbol id="user" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
		<title/>
		<g id="Complete">
			<g id="user">
				<g>
					<path d="M20,21V19a4,4,0,0,0-4-4H8a4,4,0,0,0-4,4v2" fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
					<circle cx="12" cy="7" fill="none" r="4" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
				</g>
			</g>
		</g>
	</symbol>
	<symbol id="airplay" fill="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/symbol">
		<path d="M2.5,11 C2.22385763,11 2,10.7761424 2,10.5 C2,10.2238576 2.22385763,10 2.5,10 L3.5,10 C9.29898987,10 14,14.7010101 14,20.5 C14,20.7761424 13.7761424,21 13.5,21 C13.2238576,21 13,20.7761424 13,20.5 C13,15.2532949 8.74670512,11 3.5,11 L2.5,11 Z M2.5,14 C2.22385763,14 2,13.7761424 2,13.5 C2,13.2238576 2.22385763,13 2.5,13 L3.51560977,13 C7.65774539,13 11.0156098,16.3578644 11.0156098,20.5 C11.0156098,20.7761424 10.7917521,21 10.5156098,21 C10.2394674,21 10.0156098,20.7761424 10.0156098,20.5 C10.0156098,16.9101491 7.10546064,14 3.51560977,14 L2.5,14 Z M2.5,17 C2.22385763,17 2,16.7761424 2,16.5 C2,16.2238576 2.22385763,16 2.5,16 L3.46887113,16 C5.9713445,16 8,18.0286555 8,20.5311289 C8,20.8072712 7.77614237,21.0311289 7.5,21.0311289 C7.22385763,21.0311289 7,20.8072712 7,20.5311289 C7,18.5809402 5.41905975,17 3.46887113,17 L2.5,17 Z M3,7.5 C3,7.77614237 2.77614237,8 2.5,8 C2.22385763,8 2,7.77614237 2,7.5 L2,5.5 C2,4.11928813 3.11928813,3 4.5,3 L19.5065778,3 C20.8872897,3 22.0065778,4.11928813 22.0065778,5.5 L22.0065778,18.507546 C22.0065778,19.8882579 20.8872897,21.007546 19.5065778,21.007546 L16.4999943,21.007546 C16.2238519,21.007546 15.9999943,20.7836884 15.9999943,20.507546 C15.9999943,20.2314036 16.2238519,20.007546 16.4999943,20.007546 L19.5065778,20.007546 C20.3350049,20.007546 21.0065778,19.3359731 21.0065778,18.507546 L21.0065778,5.5 C21.0065778,4.67157288 20.3350049,4 19.5065778,4 L4.5,4 C3.67157288,4 3,4.67157288 3,5.5 L3,7.5 Z"/>
	</symbol>
	<symbol version="1.0" id="calendar" fill="currentColor" viewbox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
		<g>
			<path fill="#currentColor" d="M11,54h6c0.553,0,1-0.447,1-1v-5c0-0.553-0.447-1-1-1h-6c-0.553,0-1,0.447-1,1v5C10,53.553,10.447,54,11,54
																														z M12,49h4v3h-4V49z"/>
			<path fill="#currentColor" d="M23,54h6c0.553,0,1-0.447,1-1v-5c0-0.553-0.447-1-1-1h-6c-0.553,0-1,0.447-1,1v5C22,53.553,22.447,54,23,54
																														z M24,49h4v3h-4V49z"/>
			<path fill="#currentColor" d="M35,54h6c0.553,0,1-0.447,1-1v-5c0-0.553-0.447-1-1-1h-6c-0.553,0-1,0.447-1,1v5C34,53.553,34.447,54,35,54
																														z M36,49h4v3h-4V49z"/>
			<path fill="#currentColor" d="M11,43h6c0.553,0,1-0.447,1-1v-5c0-0.553-0.447-1-1-1h-6c-0.553,0-1,0.447-1,1v5C10,42.553,10.447,43,11,43
																														z M12,38h4v3h-4V38z"/>
			<path fill="#currentColor" d="M23,43h6c0.553,0,1-0.447,1-1v-5c0-0.553-0.447-1-1-1h-6c-0.553,0-1,0.447-1,1v5C22,42.553,22.447,43,23,43
																														z M24,38h4v3h-4V38z"/>
			<path fill="#currentColor" d="M35,43h6c0.553,0,1-0.447,1-1v-5c0-0.553-0.447-1-1-1h-6c-0.553,0-1,0.447-1,1v5C34,42.553,34.447,43,35,43
																														z M36,38h4v3h-4V38z"/>
			<path fill="#currentColor" d="M47,43h6c0.553,0,1-0.447,1-1v-5c0-0.553-0.447-1-1-1h-6c-0.553,0-1,0.447-1,1v5C46,42.553,46.447,43,47,43
																														z M48,38h4v3h-4V38z"/>
			<path fill="#currentColor" d="M11,32h6c0.553,0,1-0.447,1-1v-5c0-0.553-0.447-1-1-1h-6c-0.553,0-1,0.447-1,1v5C10,31.553,10.447,32,11,32
																														z M12,27h4v3h-4V27z"/>
			<path fill="#currentColor" d="M23,32h6c0.553,0,1-0.447,1-1v-5c0-0.553-0.447-1-1-1h-6c-0.553,0-1,0.447-1,1v5C22,31.553,22.447,32,23,32
																														z M24,27h4v3h-4V27z"/>
			<path fill="#currentColor" d="M35,32h6c0.553,0,1-0.447,1-1v-5c0-0.553-0.447-1-1-1h-6c-0.553,0-1,0.447-1,1v5C34,31.553,34.447,32,35,32
																														z M36,27h4v3h-4V27z"/>
			<path fill="#currentColor" d="M47,32h6c0.553,0,1-0.447,1-1v-5c0-0.553-0.447-1-1-1h-6c-0.553,0-1,0.447-1,1v5C46,31.553,46.447,32,47,32
																														z M48,27h4v3h-4V27z"/>
			<path fill="#currentColor" d="M60,4h-7V3c0-1.657-1.343-3-3-3s-3,1.343-3,3v1H17V3c0-1.657-1.343-3-3-3s-3,1.343-3,3v1H4
																							C1.789,4,0,5.789,0,8v52c0,2.211,1.789,4,4,4h56c2.211,0,4-1.789,4-4V8C64,5.789,62.211,4,60,4z M49,3c0-0.553,0.447-1,1-1
																							s1,0.447,1,1v3v4c0,0.553-0.447,1-1,1s-1-0.447-1-1V6V3z M13,3c0-0.553,0.447-1,1-1s1,0.447,1,1v3v4c0,0.553-0.447,1-1,1
																							s-1-0.447-1-1V6V3z M62,60c0,1.104-0.896,2-2,2H4c-1.104,0-2-0.896-2-2V17h60V60z M62,15H2V8c0-1.104,0.896-2,2-2h7v4
																							c0,1.657,1.343,3,3,3s3-1.343,3-3V6h30v4c0,1.657,1.343,3,3,3s3-1.343,3-3V6h7c1.104,0,2,0.896,2,2V15z"/>
		</g>
	</symbol>
	<symbol id="clock" fill="#currentColor" viewbox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/symbol">
		<path d="M16 0c-8.836 0-16 7.163-16 16s7.163 16 16 16c8.837 0 16-7.163 16-16s-7.163-16-16-16zM16 30.032c-7.72 0-14-6.312-14-14.032s6.28-14 14-14 14 6.28 14 14-6.28 14.032-14 14.032zM17 15.594v-9.594c0-0.552-0.448-1-1-1s-1 0.448-1 1v10c0 0.283 0.118 0.537 0.308 0.719 0.017 0.020 0.030 0.041 0.048 0.059l4.949 4.95c0.39 0.39 1.023 0.39 1.414 0s0.39-1.024 0-1.415z"></path>
	</symbol>
	<symbol id="lang" viewbox="0 0 24 24" fill="currenColor" xmlns="http://www.w3.org/2000/sbg>">
		<path d="M20.58 19.37L17.59 11.01C17.38 10.46 16.91 10.12 16.37 10.12C15.83 10.12 15.37 10.46 15.14 11.03L12.16
																							19.37C12.02 19.76 12.22 20.19 12.61 20.33C13 20.47 13.43 20.27 13.57 19.88L14.19 18.15H18.54L19.16 19.88C19.27
																							20.19 19.56 20.38 19.87 20.38C19.95 20.38 20.04 20.37 20.12 20.34C20.51 20.2 20.71 19.77 20.57 19.38L20.58
																							19.37ZM14.74 16.64L16.38 12.05L18.02 16.64H14.74ZM12.19 7.85C9.92999 11.42 7.89 13.58 5.41 15.02C5.29 15.09 5.16
																							15.12 5.04 15.12C4.78 15.12 4.53 14.99 4.39 14.75C4.18 14.39 4.3 13.93 4.66 13.73C6.75999 12.51 8.48 10.76 10.41
																							7.86H4.12C3.71 7.86 3.37 7.52 3.37 7.11C3.37 6.7 3.71 6.36 4.12 6.36H7.87V4.38C7.87 3.97 8.21 3.63 8.62
																							3.63C9.02999 3.63 9.37 3.97 9.37 4.38V6.36H13.12C13.53 6.36 13.87 6.7 13.87 7.11C13.87 7.52 13.53 7.86 13.12
																							7.86H12.18L12.19 7.85ZM12.23 15.12C12.1 15.12 11.97 15.09 11.85 15.02C11.2 14.64 10.57 14.22 9.97999
																							13.78C9.64999 13.53 9.58 13.06 9.83 12.73C10.08 12.4 10.55 12.33 10.88 12.58C11.42 12.99 12.01 13.37 12.61
																							13.72C12.97 13.93 13.09 14.39 12.88 14.75C12.74 14.99 12.49 15.12 12.23 15.12Z" fill="#currentColor"/>
	</symbol>
	<symbol id="profil" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">

		<g id="SVGRepo_bgCarrier" stroke-width="0"/>

		<g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>

		<g id="SVGRepo_iconCarrier">
			<circle cx="12" cy="9" r="3" stroke="#000000" stroke-width="1.5"/>
			<circle cx="12" cy="12" r="10" stroke="#000000" stroke-width="1.5"/>
			<path d="M17.9691 20C17.81 17.1085 16.9247 15 11.9999 15C7.07521 15 6.18991 17.1085 6.03076 20" stroke="#000000" stroke-width="1.5" stroke-linecap="round"/>
		</g>

	</symbol>
	<symbol id="logout" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">

		<g id="SVGRepo_bgCarrier" stroke-width="0"/>

		<g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>

		<g id="SVGRepo_iconCarrier">
			<g id="Interface / Exit">
				<path id="Vector" d="M12 15L15 12M15 12L12 9M15 12H4M4 7.24802V7.2002C4 6.08009 4 5.51962 4.21799 5.0918C4.40973 4.71547 4.71547 4.40973 5.0918 4.21799C5.51962 4 6.08009 4 7.2002 4H16.8002C17.9203 4 18.4796 4 18.9074 4.21799C19.2837 4.40973 19.5905 4.71547 19.7822 5.0918C20 5.5192 20 6.07899 20 7.19691V16.8036C20 17.9215 20 18.4805 19.7822 18.9079C19.5905 19.2842 19.2837 19.5905 18.9074 19.7822C18.48 20 17.921 20 16.8031 20H7.19691C6.07899 20 5.5192 20 5.0918 19.7822C4.71547 19.5905 4.40973 19.2839 4.21799 18.9076C4 18.4798 4 17.9201 4 16.8V16.75" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
			</g>
		</g>

	</symbol>

</svg>
