<footer class="footer">
	<div class="container">
		<div class="d-flex flex-column align-items-center text-center">
			<img src="{{ asset('images/footer-logo.png') }}" alt="Logo Admin Image" class="img-fluid">
			<div class="socials">
				<svg class="icon icon-xl" aria-hidden="true" focusable="false">
					<use xlink:href="#facebook"></use>
				</svg>
				<svg class="icon icon-xl" aria-hidden="true" focusable="false">
					<use xlink:href="#instagram"></use>
				</svg>
				<svg class="icon icon-xl" aria-hidden="true" focusable="false">
					<use xlink:href="#linkedin"></use>
				</svg>
			</div>
			<p>Mentions Légales</p>
			<p>Politique de confidentialités</p>
			<p>Copyright @2024 - Tous Droits Réservés</p>
		</div>

	</div>
</footer>
